<html>
  <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css" />
  <body>
    <main>
        <h3>500 - Internal Error</h3>
        <a href="/"><button>Back to home</button></a>
    </main>
  </body>
</html>
